@charset "UTF-8";

div.tab button:hover {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    text-align: center;
    height: auto;
}

div.tab {
    overflow: hidden;
}