<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>LibraryManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>Servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>Servlet.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckOutServlet</servlet-name>
    <servlet-class>Servlet.CheckOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutServlet</servlet-name>
    <url-pattern>/CheckOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckInServlet</servlet-name>
    <servlet-class>Servlet.CheckInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckInServlet</servlet-name>
    <url-pattern>/CheckInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckinSearch</servlet-name>
    <servlet-class>Servlet.CheckinSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckinSearch</servlet-name>
    <url-pattern>/CheckinSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowFineServlet</servlet-name>
    <servlet-class>Servlet.ShowFineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFineServlet</servlet-name>
    <url-pattern>/ShowFineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RefreshFineServlet</servlet-name>
    <servlet-class>Servlet.RefreshFineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefreshFineServlet</servlet-name>
    <url-pattern>/RefreshFineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PayFine</servlet-name>
    <servlet-class>Servlet.PayFine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayFine</servlet-name>
    <url-pattern>/PayFine</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ShowUserServlet</servlet-name>
    <servlet-class>Servlet.ShowUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUserServlet</servlet-name>
    <url-pattern>/ShowUserServlet</url-pattern>
  </servlet-mapping>
</web-app>